<!--<h1>Greeting</h1>-->
<!--<div ng-show="authenticated">-->
<!--<p>User is authenticated!!</p>-->
<!--</div>-->
<!--<div ng-show="!authenticated">-->
<!--<p>Login to see your greeting</p>-->
<!--</div>-->

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Root Folder</p>
            <div class="list-group">
                <a href ng-repeat="roots in rootFolders.childs" ng-click="getRootFolderContent($index)"
                   class="list-group-item">{{roots.fileName}}</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">

                <div ng-repeat="file in files.childs" class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img ng-if="file.type == 'FOLDER'" ng-src="img/folder(3).png"/>
                        <img ng-if="file.type == 'FILE'" ng-src="img/file(3).png"/>
                        <div class="caption">
                            <h4 class="pull-right">
                                <a href ng-click="getFolderContent($index)" class="btn btn-primary">
                                    {{file.type == 'FOLDER'? 'Explore': 'Download'}}
                                </a>
                            </h4>
                            <h4>{{file.fileName}}</h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->